@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --bodyBg: #ffffff;
  --headerBg: #e9e9e9;
  --f6logo: url("/assets/logo-black.svg");
  --text: #3e3e3e;
  --toolsBg: #ffffff;
  --toolsHover: #e9e9e9;
  --iconMode: url("/assets/sun.svg");
  --toggleBg: #d2d2d2;
  --toggleBall: #ffffff;
  --inputBg: #f4f4f4;
  --inputBorder: #e9e9e9;
  --iconClean: url("/assets/close-b.svg");
}

[data-theme="dark"] {
  --bodyBg: #3a3a3a;
  --headerBg: #2e2e2e;
  --f6logo: url("/assets/logo-white.svg");
  --text: #f1f1f1;
  --toolsBg: #4b4b4b;
  --toolsHover: #393939;
  --iconMode: url("/assets/moon.svg");
  --toggleBg: #1d1d1d;
  --toggleShadow: 0px 0px 10px rgba(black, 0.5);
  --toggleBall: #606060;
  --inputBg: #2e2e2e;
  --inputBorder: #5b5b5b;
  --iconClean: url("/assets/close-w.svg");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background: var(--bodyBg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  height: 100px;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--headerBg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 120px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--f6logo);
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle__button {
  background-color: var(--toggleBg);
  cursor: pointer;
  width: 56px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.toggle__button span {
  background: var(--toggleBall);
  border-radius: 100%;
  left: 0px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconMode);
  -webkit-box-shadow: var(--toggleShadow);
          box-shadow: var(--toggleShadow);
}

.toggle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconBulb);
}

.toggle.on .toggle__button span {
  -webkit-transform: translateX(calc(100%));
          transform: translateX(calc(100%));
}

.search {
  padding-left: 5vw;
  padding-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search__input {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 400px;
  background: var(--inputBg);
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  border: 1px solid var(--inputBorder);
  position: relative;
  color: var(--text);
}

.search__input::-webkit-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input:-ms-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input::-ms-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input::placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input:focus {
  border: 1px solid #EE7D4C;
}

.search__input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.search__input:focus:-ms-input-placeholder {
  opacity: 0;
  transform: translateX(-20%);
}

.search__input:focus::-ms-input-placeholder {
  opacity: 0;
  transform: translateX(-20%);
}

.search__input:focus::placeholder {
  opacity: 0;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.search__clean {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 100%;
  right: 16px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  display: none;
  width: 28px;
  height: 28px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconClean);
  position: absolute;
  cursor: pointer;
  opacity: 0.3;
}

.search__clean:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search__noResults {
  display: none;
  color: var(--text);
  font-size: 24px;
  margin-top: 40px;
  opacity: 0.5;
  letter-spacing: 0.5px;
  -webkit-animation: fadein 0.4s ease;
          animation: fadein 0.4s ease;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.projects {
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 1920px;
  margin: 80px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(410px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-gap: 40px;
}

.projects__item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-height: 320px;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
          box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.projects__item:hover {
  -webkit-box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.projects__thumb {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: calc(100% - 48px);
  height: calc(100% - 80px);
  position: absolute;
  bottom: 0px;
  left: 24px;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
}

.projects__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.projects__thumb:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  opacity: 1;
  z-index: 2;
}

.projects__title {
  padding: 32px 24px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text);
  font-size: 20px;
  font-weight: normal;
  z-index: 3;
}

.projects__color {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.projects__details {
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.projects__detailsContent {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 24px 24px;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.projects__detailsContent input {
  opacity: 0;
  position: absolute;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.projects__copyClipboard {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
}

.projects__copyClipboard.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__detail--title {
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 24px;
  margin-right: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__detail--title:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: -24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__detail--title.user:before {
  background-image: url("/assets/user.svg");
}

.projects__detail--title.pass:before {
  background-image: url("/assets/key.svg");
}

.projects__detail--text {
  padding: 0 4px;
  cursor: pointer;
  border-radius: 2px;
}

.projects__detail--text:hover, .projects__detail--text.selected {
  background-color: white;
  color: #2e2e2e;
}

.projects__info {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.projects__info:last-child {
  margin-bottom: 0px;
}

.projects__tools {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: var(--text);
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--toolsBg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 56px;
  overflow: hidden;
}

.projects__toolName {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  text-transform: capitalize;
  margin-left: 32px;
}

.projects__toolName:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__toolName.axure:before {
  background-image: url("/assets/axure.svg");
}

.projects__toolName.figma:before {
  background-image: url("/assets/figma.svg");
}

.projects__toolName.invision:before {
  background-image: url("/assets/invision.svg");
}

.projects__toolName.zeplin:before {
  background-image: url("/assets/zeplin.svg");
}

.projects__toolTitle {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__toolLink {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.4s ease;
  transition: transform 0.3s ease, background 0.4s ease, -webkit-transform 0.3s ease;
}

.projects__toolLink:hover {
  background-color: var(--toolsHover);
}

.projects__toolLink:hover .projects__toolTitle {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.projects__toolLink:hover .projects__toolName {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects .active {
  cursor: default;
  -webkit-box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
}

.projects .active .projects__color {
  opacity: 0.8;
}

.projects .active .projects__title {
  color: white;
}

.projects .active .projects__thumb {
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
}

.projects .active .projects__details {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.link {
  position: relative;
  font-size: 18px;
  margin-bottom: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  position: relative;
}

.link:before, .link:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.link:before {
  background-color: white;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
}

.link:after {
  width: 20px;
  height: 24px;
  right: -32px;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/arrowRight.svg");
  opacity: 0;
}

.link:hover:before {
  width: 0%;
  right: 0;
  left: inherit;
}

.link:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=main.css.map */