@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --bodyBg: #ffffff;
  --headerBg: #e9e9e9;
  --f6logo: url("/assets/logo2-black.svg");
  --text: #3e3e3e;
  --toolsBg: #ffffff;
  --toolsHover: #e9e9e9;
  --iconMode: url("/assets/sun.svg");
  --toggleBg: #d2d2d2;
  --toggleBall: #ffffff;
  --inputBg: #f4f4f4;
  --inputBorder: #e9e9e9;
  --dropBorder: #d2d2d2;
  --bgdropItem: ;
  --iconClean: url("/assets/close-b.svg");
  --iconSearch: url("/assets/search-b.svg");
  --iconHeart: url("/assets/heart-b.svg");
  --iconHeartFill: url("/assets/heartFill-b.svg");
}

[data-theme="dark"] {
  --bodyBg: #3a3a3a;
  --headerBg: #2e2e2e;
  --f6logo: url("/assets/logo2-white.svg");
  --text: #f1f1f1;
  --toolsBg: #4b4b4b;
  --toolsHover: #393939;
  --iconMode: url("/assets/moon.svg");
  --toggleBg: #1d1d1d;
  --toggleShadow: 0px 0px 10px rgba(black, 0.5);
  --toggleBall: #606060;
  --inputBg: #2e2e2e;
  --inputBorder: #5b5b5b;
  --dropBorder: #5b5b5b;
  --iconClean: url("/assets/close-w.svg");
  --iconSearch: url("/assets/search-w.svg");
  --iconHeart: url("/assets/heart-w.svg");
  --iconHeartFill: url("/assets/heartFill-w.svg");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background: var(--bodyBg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 1920px;
  margin: 0 auto;
}

.nav {
  height: 100px;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--headerBg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 799px) {
  .nav {
    height: 72px;
  }
}

.nav__logo {
  width: 120px;
  height: 100px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--f6logo);
}

@media screen and (max-width: 799px) {
  .nav__logo {
    max-width: 80px;
    width: 20%;
    height: 70px;
  }
}

.header {
  margin: 80px 0;
}

@media screen and (max-width: 799px) {
  .header {
    margin: 40px 0;
  }
}

.header__title {
  text-align: center;
  color: var(--text);
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 40px;
}

@media screen and (max-width: 799px) {
  .header__title {
    margin: 32px 0;
    font-size: 24px;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

@media screen and (max-width: 799px) {
  .toggle {
    margin-left: 16px;
  }
}

.toggle__button {
  background-color: var(--toggleBg);
  cursor: pointer;
  width: 56px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 799px) {
  .toggle__button {
    width: 48px;
  }
}

.toggle__button span {
  background: var(--toggleBall);
  border-radius: 100%;
  left: 0px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconMode);
  -webkit-box-shadow: var(--toggleShadow);
          box-shadow: var(--toggleShadow);
}

.toggle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconBulb);
}

.toggle.on .toggle__button span {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media screen and (max-width: 799px) {
  .toggle.on .toggle__button span {
    -webkit-transform: translateX(calc(100% - 7px));
            transform: translateX(calc(100% - 7px));
  }
}

.drop {
  color: var(--text);
  width: 200px;
  max-width: 320px;
  height: 40px;
  z-index: 2;
  border-radius: 8px;
  position: relative;
  background: var(--inputBg);
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .drop {
    width: 100%;
    max-width: 160px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.drop__title {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  position: relative;
  border: 1px solid var(--dropBorder);
  -webkit-transition: border 0.2s 0.2s ease, color 0.2s ease;
  transition: border 0.2s 0.2s ease, color 0.2s ease;
}

.drop__title:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/arrowDown.svg");
}

.drop__content {
  border-radius: 8px;
  width: 100%;
  visibility: hidden;
  opacity: 1;
  padding-top: 40px;
  top: 0px;
  position: absolute;
  background: var(--inputBg);
  z-index: -1;
  -webkit-transition: all 0.3s 0.2s ease;
  transition: all 0.3s 0.2s ease;
  border: 1px solid transparent;
}

.drop__item {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0px;
  opacity: 0;
  -webkit-transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;
  transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;
}

.drop__item:hover {
  background-color: rgba(103, 103, 103, 0.15);
  color: #F68A39;
}

.drop.open .drop__title {
  color: #F68A39;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

.drop.open .drop__title:before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.drop.open .drop__content {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;
  border: 1px solid var(--dropBorder);
}

.drop.open .drop__item {
  -webkit-transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;
  transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;
  height: 40px;
  opacity: 1;
}

.drop:hover .drop__title {
  color: #F68A39;
}

.faveBtn {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconHeart);
  z-index: 2;
  cursor: pointer;
  opacity: 0.5;
  margin-left: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 799px) {
  .faveBtn {
    margin-left: 16px;
  }
}

.faveBtn.selected {
  opacity: 1;
  background-image: url("../assets/heartFill-c.svg");
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 48px 0;
}

@media screen and (max-width: 799px) {
  .tools {
    margin: 40px 0;
  }
}

.search {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search__content:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 24px;
  left: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconSearch);
  z-index: 1;
  opacity: 0.5;
}

@media screen and (max-width: 799px) {
  .search__content:before {
    left: 8px;
  }
}

.search__input {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 8px 16px 8px 40px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid var(--inputBorder);
  position: relative;
  color: var(--text);
}

.search__input::-webkit-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input:-ms-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input::-ms-input-placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input::placeholder {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__input:focus {
  border-bottom: 1px solid #F68A39;
}

.search__input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.search__input:focus:-ms-input-placeholder {
  opacity: 0;
  transform: translateX(5%);
}

.search__input:focus::-ms-input-placeholder {
  opacity: 0;
  transform: translateX(5%);
}

.search__input:focus::placeholder {
  opacity: 0;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.search__clean {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 100%;
  right: 16px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
  display: none;
  width: 28px;
  height: 28px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconClean);
  position: absolute;
  cursor: pointer;
  opacity: 0.3;
}

.search__clean:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.message {
  color: var(--text);
  font-size: 24px;
  opacity: 0.5;
  letter-spacing: 0.5px;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 799px) {
  .message {
    font-size: 18px;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.message__noResults, .message__noFaves {
  display: none;
  -webkit-animation: fadein 0.4s ease;
          animation: fadein 0.4s ease;
  margin: 8px 0;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.projects {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(410px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-gap: 40px;
  justify-items: center;
}

@media screen and (max-width: 799px) {
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}

.projects__item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  max-width: 600px;
  min-height: 320px;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
          box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-animation: item 0.4s 0.2s cubic-bezier(0.25, 0.1, 0.11, 1.45) backwards;
          animation: item 0.4s 0.2s cubic-bezier(0.25, 0.1, 0.11, 1.45) backwards;
}

@-webkit-keyframes item {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes item {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.projects__item:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: -10px -10px 30px -20px rgba(0, 0, 0, 0.3);
          box-shadow: -10px -10px 30px -20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

@media screen and (max-width: 799px) {
  .projects__item:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
            box-shadow: -24px -24px 50px -24px rgba(0, 0, 0, 0.3);
  }
}

.projects__item:hover .projects__thumb {
  opacity: 1;
}

.projects__item:hover .projects__thumb img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media screen and (max-width: 799px) {
  .projects__item {
    min-height: 270px;
    max-width: 500px;
  }
}

.projects__fave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--iconHeart);
  z-index: 2;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
}

@media screen and (max-width: 799px) {
  .projects__fave {
    right: 16px;
    top: 16px;
  }
}

.projects__fave:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 799px) {
  .projects__fave:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.projects__thumb {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: calc(100% - 48px);
  height: calc(100% - 80px);
  position: absolute;
  bottom: 0px;
  left: 24px;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  opacity: 0.5;
}

.projects__thumb img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: top;
     object-position: top;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects__thumb:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 1;
  z-index: 2;
  opacity: 0.05;
}

.projects__title {
  padding: 32px 0 0 24px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text);
  font-size: 20px;
  font-weight: normal;
  z-index: 3;
  font-weight: 300;
  width: 80%;
}

@media screen and (max-width: 799px) {
  .projects__title {
    padding: 24px 0 0 16px;
  }
}

.projects__color {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.projects__details {
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.projects__detailsContent {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 24px;
  padding: 16px 0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 799px) {
  .projects__detailsContent {
    margin: 16px;
  }
}

.projects__detailsContent input {
  opacity: 0;
  position: absolute;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.projects__copyClipboard {
  position: absolute;
  right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;
}

.projects__copyClipboard.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__info {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.projects__detail {
  position: relative;
  padding: 0 4px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 32px;
  margin-bottom: 16px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects__detail:last-child {
  margin-bottom: 0px;
}

.projects__detail:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.projects__detail.user:before {
  background-image: url("/assets/user.svg");
}

.projects__detail.pass:before {
  background-image: url("/assets/key.svg");
}

.projects__detail:hover, .projects__detail.selected {
  background-color: white;
  color: #2e2e2e;
}

.projects__stageLink {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0.5;
  overflow: hidden;
}

.projects__stageLink:before, .projects__stageLink:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.45);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/arrowRight.svg");
}

.projects__stageLink:after {
  opacity: 0;
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
}

.projects__stageLink:hover {
  opacity: 1;
}

.projects__stageLink:hover:before {
  opacity: 0;
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

.projects__stageLink:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.projects__tools {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: var(--text);
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--toolsBg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 56px;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  .projects__tools {
    height: 48px;
  }
}

.projects__toolName {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  text-transform: capitalize;
  margin-left: 32px;
}

.projects__toolName:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__toolName.axure:before {
  background-image: url("/assets/axure.svg");
}

.projects__toolName.figma:before {
  background-image: url("/assets/figma.svg");
}

.projects__toolName.invision:before {
  background-image: url("/assets/invision.svg");
}

.projects__toolName.zeplin:before {
  background-image: url("/assets/zeplin.svg");
}

.projects__toolTitle {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__toolLink {
  font-size: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: background 0.4s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.4s ease;
  transition: transform 0.3s ease, background 0.4s ease, -webkit-transform 0.3s ease;
}

.projects__toolLink:hover {
  background-color: var(--toolsHover);
}

.projects__toolLink:hover .projects__toolTitle {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.projects__toolLink:hover .projects__toolName {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects .active {
  cursor: default;
  -webkit-box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 50px -16px rgba(0, 0, 0, 0.3);
}

.projects .active:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.projects .active .projects__color {
  opacity: 0.8;
}

.projects .active .projects__fave {
  background-image: url("/assets/heart-w.svg");
}

.projects .active .projects__title {
  color: white;
}

.projects .active .projects__thumb {
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.projects .active .projects__thumb img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.projects .active .projects__thumb:before {
  opacity: 0.5;
}

.projects .active .projects__details {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects .active.faved .projects__fave {
  background-image: url("/assets/heartFill-w.svg");
}

.projects .faved .projects__fave {
  opacity: 0.6;
  background-image: var(--iconHeartFill);
}
/*# sourceMappingURL=main.css.map */