@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --bodyBg: #ffffff;
    --headerBg: #e9e9e9;
    --f6logo: url("/assets/logo-black.svg");
    --text: #3e3e3e;
    --toolsBg: #ffffff;
    --toolsHover: #e9e9e9;
    --iconMode: url("/assets/sun.svg");
    --toggleBg: #d2d2d2;
    --toggleBall: #ffffff;
    --inputBg: #f4f4f4;
    --inputBorder: #e9e9e9;
    --dropBorder: #d2d2d2;
    --bgdropItem: ;
    --iconClean: url("/assets/close-b.svg");
    --iconSearch: url("/assets/search-b.svg");

    --iconHeart: url("/assets/heart-b.svg");
    --iconHeartFill: url("/assets/heartFill-b.svg");



}

[data-theme="dark"] {
    --bodyBg: #3a3a3a;
    --headerBg: #2e2e2e;
    --f6logo: url("/assets/logo-white.svg");
    --text: #f1f1f1;
    --toolsBg: #4b4b4b;
    --toolsHover: #393939;
    --iconMode: url("/assets/moon.svg");
    --toggleBg: #1d1d1d;
    --toggleShadow: 0px 0px 10px rgba(black, 0.5);
    --toggleBall: #606060;
    --inputBg: #2e2e2e;
    --inputBorder: #5b5b5b;
    --dropBorder: #5b5b5b;
    --iconClean: url("/assets/close-w.svg");
    --iconSearch: url("/assets/search-w.svg");

    --iconHeart: url("/assets/heart-w.svg");
    --iconHeartFill: url("/assets/heartFill-w.svg");


}

// Fonts
$font: 'Roboto',
sans-serif;


// Colors

$m-01: #EE7D4C;
$neu-08: #484848;
$neu-09: #313131;

$maxWidthContent: 1920px;
$cubic: cubic-bezier(0.25, 0.1, 0.11, 1.45);


// Breakpoints
@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

// Mixins for Styles
@mixin delay {
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.15}s;
        }
    }
}

@mixin margins {
    padding-left: 5vw;
    padding-right: 5vw;
}

@mixin transition {
    transition: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

html {
    scroll-behavior: smooth;
}


body {
    width: 100vw;
    font-family: $font;
    background: var(--bodyBg);
    transition: all 0.3s ease;
}

.wrapper {
    @include margins();
    max-width: $maxWidthContent;
    margin: 0 auto;
}

.nav {
    height: 100px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    background-color: var(--headerBg);
    justify-content: space-between;

    @include sm {
        height: 72px;
    }

    &__logo {
        width: 120px;
        height: 100px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--f6logo);

        @include sm {
            width: 80px;
            height: 70px;

        }
    }
}

.header {
    margin: 80px 0;

    @include sm {
        margin: 40px 0;
    }

    &__title {
        text-align: center;
        color: var(--text);
        font-weight: 200;
        letter-spacing: 0.5px;
        font-size: 40px;

        @include sm {
            margin: 32px 0;
            font-size: 24px;
        }
    }

}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @include sm {
        //align-items: flex-end;
    }
}

.toggle {
    $this: &;
    display: flex;
    align-items: center;
    margin-left: 40px;

    @include sm {
        margin-left: 16px;
        //margin-left: 0px;
    }

    &__button {
        background-color: var(--toggleBg);
        cursor: pointer;
        width: 56px;
        height: 24px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        position: relative;
        z-index: 1;

        @include sm {
            width: 48px;
        }

        span {
            background: var(--toggleBall);
            border-radius: 100%;
            left: 0px;
            position: absolute;
            transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
            display: flex;
            width: 28px;
            height: 28px;
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: var(--iconMode);
            box-shadow: var(--toggleShadow);
        }
    }

    &__icon {
        display: flex;
        width: 24px;
        height: 24px;
        left: -32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconBulb);
    }

    &.on {
        #{$this} {
            &__button {
                span {
                    transform: translateX(100%);


                    @include sm {
                        transform: translateX(calc(100% - 7px));
                    }
                }
            }
        }
    }
}

.drop {
    $this: &;
    color: var(--text);
    width: 200px;
    max-width: 320px;
    height: 40px;
    z-index: 2;
    border-radius: 8px;
    position: relative;
    background: var(--inputBg);
    cursor: pointer;

    @include sm {
        width: 100%;
        max-width: 160px;
        align-self: center;
    }

    &__title {
        border-radius: 8px;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 16px;
        position: relative;
        border: 1px solid var(--dropBorder);
        transition: border 0.2s 0.2s ease, color 0.2s ease;

        &:before {
            @include transition();
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("/assets/arrowDown.svg");
        }
    }

    &__content {
        border-radius: 8px;
        width: 100%;
        visibility: hidden;
        opacity: 1;
        padding-top: 40px;
        top: 0px;
        position: absolute;
        background: var(--inputBg);
        z-index: -1;
        transition: all 0.3s 0.2s ease;
        border: 1px solid transparent;
    }

    &__item {
        padding: 0 16px;
        display: flex;
        align-items: center;
        height: 0px;
        opacity: 0;
        transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;

        &:hover {
            background-color: rgba(#676767, 0.15);
            color: #EE7D4C;
        }
    }

    &.open {
        #{$this} {
            &__title {
                color: #EE7D4C;
                border: 1px solid transparent;
                box-shadow: 0px 4px 12px 0px rgba(black, 0.1);
                transition: border 0.2s ease;

                &:before {
                    transform: rotate(-180deg);
                }
            }

            &__content {
                @include transition();
                opacity: 1;
                visibility: visible;
                border: 1px solid var(--dropBorder);
            }

            &__item {
                transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease, ;
                height: 40px;
                opacity: 1;
            }
        }
    }

    &:hover {
        #{$this} {
            &__title {
                color: #EE7D4C;
            }
        }
    }
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include sm {
        //flex-direction: column-reverse;
    }
}

.search {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 24px;
            left: 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: var(--iconSearch);
            z-index: 1;
            opacity: 0.5;
        }
    }

    &__input {
        @include transition();
        width: 100%;
        background: var(--inputBg);
        height: 40px;
        padding: 8px 16px 8px 48px;
        border-radius: 8px;
        letter-spacing: 0.5px;
        border: 1px solid var(--inputBorder);
        position: relative;
        color: var(--text);

        @include sm {
            width: 100%;
            max-width: 400px;
        }

        &::placeholder {
            @include transition();
        }

        &:focus {
            border: 1px solid #EE7D4C;

            &::placeholder {
                opacity: 0;
                transform: translateX(5%);
            }
        }
    }

    &__clean {
        @include transition();
        border-radius: 100%;
        right: 16px;
        position: absolute;
        transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
        display: none;
        width: 28px;
        height: 28px;
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconClean);
        position: absolute;
        cursor: pointer;
        opacity: 0.3;

        &:hover {
            opacity: 0.8;
            transform: scale(1.2);
        }
    }


}

.message {

    color: var(--text);
    font-size: 24px;
    opacity: 0.5;
    letter-spacing: 0.5px;
    align-self: center;
    position: absolute;
    transform: translateY(200px);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    @include sm {
        font-size: 18px;
        transform: translateY(100px);
    }

    &__noResults,
    &__noFaves {

        display: none;
        animation: fadein 0.4s ease;
        margin: 8px 0;

        @keyframes fadein {
            0% {
                transform: translateY(50px);
            }
        }
    }

}

.filters {
    display: flex;

    @include sm {
        //margin-bottom: 32px;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--inputBg);
        border: 1px solid var(--inputBorder);
        cursor: pointer;
        color: var(--text);
        height: 40px;
        padding: 0px 16px;
        border-radius: 8px;
        margin-left: 24px;
        transition: all 0.2s ease;

        @include sm {
            margin-left: 16px;
        }

        &:first-child {

            //margin-left: 0px;
        }

        &.selected {
            color: #2e2e2e;
            background-color: #EE7D4C;
            border: 1px solid transparent;
            cursor: default;

            &:hover {
                color: #2e2e2e;
                background-color: #EE7D4C;
            }
        }

        &:hover {
            color: #EE7D4C;
            background-color: rgba(#676767, 0.15);

        }
    }


}

.projects {
    @include transition();
    $this: &;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    grid-gap: 40px;
    justify-items: center;

    @include sm {
        margin: 32px auto;
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    &__item {
        @include transition();
        width: 100%;
        max-width: 600px;
        min-height: 320px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: -24px -24px 50px -24px rgba(black, 0.3);
        cursor: pointer;
        animation: item 0.4s 0.2s $cubic backwards;
        //@include delay();

        @keyframes item {
            0% {
                opacity: 0;
                transform: translateY(40px);
            }
        }

        &:hover {
            transition: all 0.3s ease;
            box-shadow: -10px -10px 30px -20px rgba(black, 0.3);
            transform: translateY(-6px);

            @include sm {
                transform: none;
                box-shadow: -24px -24px 50px -24px rgba(black, 0.3);
            }

            #{$this} {
                &__thumb {
                    opacity: 1;

                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }

        @include sm {
            min-height: 270px;
        }

    }

    &__fave {
        @include transition();
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 24px;
        top: 24px;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconHeart);
        z-index: 2;
        cursor: pointer;

        @include sm {
            right: 16px;
            top: 16px;
        }

        &:hover {
            transform: scale(1.5);

            @include sm {
                transform: none;
            }
        }
    }

    &__thumb {
        @include transition();
        width: calc(100% - 48px);
        height: calc(100% - 80px);
        position: absolute;
        bottom: 0px;
        left: 24px;
        border-radius: 16px;
        overflow: hidden;
        z-index: 1;
        opacity: 0.5;

        img {
            @include transition();
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            object-position: top;
            filter: grayscale(100%);
        }

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            opacity: 1;
            z-index: 2;
            opacity: 0.05;
        }
    }

    &__title {
        padding: 32px 0 0 24px;
        z-index: 1;
        display: flex;
        color: var(--text);
        font-size: 20px;
        font-weight: normal;
        z-index: 3;
        font-weight: 300;
        width: 80%;

        @include sm {
            padding: 24px 0 0 16px;
        }
    }

    &__color {
        @include transition();
        position: absolute;
        display: flex;
        z-index: 1;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    &__details {
        z-index: 2;
        opacity: 0;

        @include transition();
        transform: translateY(100%);
    }

    &__detailsContent {
        font-size: 18px;
        letter-spacing: 0.5px;
        margin: 24px;
        padding: 16px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        backdrop-filter: blur(5px);
        background-color: rgba(white, 0.1);
        border: 1px solid rgba(white, 0.3);

        @include sm {
            margin: 16px;
        }

        input {
            opacity: 0;
            position: absolute;
            cursor: none;
            user-select: none;
            z-index: -1;
        }
    }

    &__copyClipboard {
        position: absolute;
        right: 16px;
        top: 16px;
        background-color: rgba(white, 0.2);
        padding: 8px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        user-select: none;
        visibility: hidden;
        transform: translateY(8px);
        border-radius: 4px;
        transition: all 0.3s $cubic;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 600;


        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
        }
    }

    &__detail {

        &--title {
            font-weight: bold;
            user-select: none;
            margin-left: 24px;
            margin-right: 4px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                left: -24px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

            }

            &.user {
                &:before {
                    background-image: url("/assets/user.svg");
                }
            }

            &.pass {
                &:before {
                    background-image: url("/assets/key.svg");
                }
            }

        }

        &--text {
            padding: 0 4px;
            cursor: pointer;
            border-radius: 2px;


            &:hover,
            &.selected {
                background-color: white;
                color: #2e2e2e;
            }
        }
    }

    &__info {
        @include transition();
        display: flex;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__tools {
        @include transition();
        color: var(--text);
        opacity: 1;
        flex-direction: column;
        background-color: var(--toolsBg);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 56px;
        overflow: hidden;

        @include sm {
            height: 48px;
        }
    }

    &__toolName {
        @include transition();
        position: absolute;
        user-select: none;
        transform: translateY(200%);
        text-transform: capitalize;
        margin-left: 32px;

        &:before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: -32px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.axure {
            &:before {
                background-image: url("/assets/axure.svg");
            }
        }

        &.figma {
            &:before {
                background-image: url("/assets/figma.svg");
            }
        }

        &.invision {
            &:before {
                background-image: url("/assets/invision.svg");
            }
        }

        &.zeplin {
            &:before {
                background-image: url("/assets/zeplin.svg");
            }
        }
    }

    &__toolTitle {
        transition: transform 0.3s ease;
        transform: translateY(0%);
    }

    &__toolLink {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.4s ease;


        &:hover {
            background-color: var(--toolsHover);

            #{$this} {
                &__toolTitle {
                    transform: translateY(-200%);
                }

                &__toolName {
                    transform: translateY(0%);
                }
            }

        }
    }

    .active {
        cursor: default;
        box-shadow: 0px 0px 50px -16px rgba(black, 0.3);

        &:hover {
            transform: translateY(0px);
        }

        #{$this} {
            &__color {
                opacity: 0.8;
            }

            &__fave {
                background-image: url("/assets/heart-w.svg");
            }

            &__title {
                color: white;
            }


            &__thumb {
                width: 100%;
                height: 100%;
                bottom: 0px;
                left: 0px;
                opacity: 1;

                img {
                    filter: grayscale(0%);
                }

                &:before {
                    opacity: 0.5;
                }
            }

            &__details {
                opacity: 1;
                transform: translateY(0);
            }

        }

        &.faved {
            #{$this} {
                &__fave {
                    background-image: url("/assets/heartFill-w.svg");
                }
            }
        }
    }

    .faved {
        #{$this} {
            &__fave {
                background-image: var(--iconHeartFill);
            }
        }
    }


}

.link {
    position: relative;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    position: relative;


    &:before,
    &:after {
        content: '';
        position: absolute;
        transition: all 0.3s ease;
        z-index: 2;

    }

    &:before {
        background-color: white;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;


    }

    &:after {
        width: 20px;
        height: 24px;
        right: -32px;
        transform: translateX(-16px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/assets/arrowRight.svg");
        opacity: 0;
    }

    &:hover {

        &:before {
            width: 0%;
            right: 0;
            left: inherit;
        }

        &:after {
            opacity: 1;
            transform: translateX(0px);
        }

    }


}