@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --bodyBg: #ffffff;
    --headerBg: #e9e9e9;
    --f6logo: url("/assets/logo-black.svg");
    --text: #3e3e3e;
    --toolsBg: #ffffff;
    --toolsHover: #e9e9e9;
    --iconMode: url("/assets/sun.svg");
    --toggleBg: #d2d2d2;
    --toggleBall: #ffffff;
    --inputBg: #f4f4f4;
    --inputBorder: #bbbbbb;
    --dropBorder: #d2d2d2;
    --bgdropItem: ;
    --iconClean: url("/assets/close-b.svg");
    --iconSearch: url("/assets/search-b.svg");

    --iconHeart: url("/assets/heart-b.svg");
    --iconHeartFill: url("/assets/heartFill-b.svg");
}

[data-theme="dark"] {
    --bodyBg: #3a3a3a;
    --headerBg: #2e2e2e;
    --f6logo: url("/assets/logo-white.svg");
    --text: #f1f1f1;
    --toolsBg: #4b4b4b;
    --toolsHover: #393939;
    --iconMode: url("/assets/moon.svg");
    --toggleBg: #1d1d1d;
    --toggleShadow: 0px 0px 10px rgba(black, 0.5);
    --toggleBall: #606060;
    --inputBg: #2e2e2e;
    --inputBorder: #5b5b5b;
    --dropBorder: #5b5b5b;
    --iconClean: url("/assets/close-w.svg");
    --iconSearch: url("/assets/search-w.svg");

    --iconHeart: url("/assets/heart-w.svg");
    --iconHeartFill: url("/assets/heartFill-w.svg");
}

// Fonts
$font: 'Roboto',
sans-serif;


// Colors

$m-01: #7767D6;
$neu-08: #0e0e0e;
$neu-09: #313131;

$maxWidthContent: 1920px;
$cubic: cubic-bezier(0.25, 0.1, 0.11, 1.45);


// Breakpoints
@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

// Mixins for Styles
@mixin delay {
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.15}s;
        }
    }
}

@mixin margins {
    padding-left: 5vw;
    padding-right: 5vw;
}

@mixin transition {
    transition: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

html {
    scroll-behavior: smooth;
}


body {
    width: 100vw;
    font-family: $font;
    background: var(--bodyBg);
    //transition: all 0.3s ease;
    overflow: hidden;
}

.input {
    width: 100%;
    background: transparent;
    height: 40px;
    padding: 8px 8px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--inputBorder);
    position: relative;
    color: var(--text);

    &::placeholder {
        @include transition();
    }

    &:focus {
        border-bottom: 1px solid $m-01;

        &::placeholder {
            opacity: 0;
            transform: translateX(5%);
        }
    }

    &__error {
        @include transition;
        color: #ee5454;
        margin-top: 8px;
        font-size: 14px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translateX(8px);

        &.showError {
            visibility: visible;
            opacity: 1;
            animation: error 0.4s ease forwards;

            @keyframes error {
                0% {
                    transform: translateX(18px);
                }

                33% {
                    transform: translateX(8px);
                }

                66% {

                    transform: translateX(18px);

                }

                100% {
                    transform: translateX(8px);
                }
            }
        }
    }
}

.intro {
    $this: &;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--headerBg);
    z-index: 4;
    padding: 40px 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--f6logo);
        width: 260px;
        height: 80px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -150px);
        position: absolute;

        @include sm {
            width: 200px;
        }
    }

    &__input {
        width: 260px;
    }

    &__inputContent {
        position: relative;
    }

    &__inputArrow {
        width: 32px;
        height: 32px;
        right: 4px;
        position: absolute;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            transition: all 0.3s $cubic;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("/assets/arrowRight-c.svg");
        }

        &:after {
            opacity: 0;
            transform: translateX(-32px);
        }

        &:hover {
            &:before {
                opacity: 0;
                transform: translateX(32px);
            }

            &:after {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    &.checked {
        height: 100px;
        padding: 0 5vw;
        display: flex;
        align-items: center;
        background: transparent;
        transition: height 1s ease, background 0.4s 0.8s ease;

        @include sm {
            height: 72px;
        }

        form {
            display: none;
        }

        #{$this} {
            &__logo {
                transition: all 0.8s ease;
                width: 120px;
                height: 100px;
                left: 5vw;
                top: 0;
                transform: translate(0);

                @include sm {
                    max-width: 72px;
                    width: 20%;
                    height: 70px;
                }
            }
        }
    }
}

main {
    width: 100%;
    background: var(--bodyBg);
    min-height: calc(100vh - 114px - 100px - 48px);

    @include sm {
        min-height: calc(100vh - 80px - 72px - 40px);
    }
}

.wrapper {
    @include margins();
    max-width: $maxWidthContent;
    margin: 0 auto;


}

.nav {
    height: 100px;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    background-color: var(--headerBg);
    justify-content: space-between;

    @include sm {
        height: 72px;
    }

    &__logo {
        width: 120px;
        height: 100px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--f6logo);

        @include sm {
            max-width: 72px;
            width: 20%;
            height: 70px;
        }
    }
}

.header {
    margin: 80px 0;

    @include sm {
        margin: 40px 0;
    }

    &__title {
        text-align: center;
        color: var(--text);
        font-weight: 200;
        letter-spacing: 0.5px;
        font-size: 40px;

        @include sm {
            margin: 32px 0;
            font-size: 24px;
        }
    }

}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.toggle {
    $this: &;
    display: flex;
    align-items: center;
    margin-left: 24px;

    @include sm {
        margin-left: 8px;
    }

    &__button {
        background-color: var(--toggleBg);
        cursor: pointer;
        width: 56px;
        height: 24px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        position: relative;
        z-index: 1;

        @include sm {
            width: 48px;
        }

        span {
            background: var(--toggleBall);
            border-radius: 100%;
            left: 0px;
            position: absolute;
            transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
            display: flex;
            width: 28px;
            height: 28px;
            box-shadow: var(--toggleShadow);

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: 22px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: var(--iconMode);
            }
        }
    }

    &__icon {
        display: flex;
        width: 24px;
        height: 24px;
        left: -32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconBulb);
    }

    &.on {
        #{$this} {
            &__button {
                span {
                    transform: translateX(100%);


                    @include sm {
                        transform: translateX(calc(100% - 7px));
                    }
                }
            }
        }
    }
}

.drop {
    $this: &;
    color: var(--text);
    width: 200px;
    max-width: 320px;
    height: 40px;
    z-index: 3;
    border-radius: 8px;
    position: relative;
    background: var(--inputBg);
    cursor: pointer;

    @include sm {
        width: 100%;
        max-width: 140px;
        align-self: center;
    }

    &__title {
        border-radius: 8px;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 16px;
        position: relative;
        border: 1px solid var(--dropBorder);
        transition: border 0.2s 0.2s ease, color 0.2s ease;

        @include sm {
            padding: 0 12px;
        }

        &:before {
            @include transition();
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("/assets/arrowDown.svg");

            @include sm {
                right: 8px;
            }
        }
    }

    &__content {
        border-radius: 8px;
        width: 100%;
        visibility: hidden;
        opacity: 1;
        padding-top: 40px;
        top: 0px;
        position: absolute;
        background: var(--inputBg);
        z-index: -1;
        transition: all 0.3s 0.2s ease;
        border: 1px solid transparent;
    }

    &__item {

        display: flex;
        align-items: center;
        height: 0px;
        opacity: 0;
        transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease;

        &:hover {
            background-color: rgba(#676767, 0.15);
        }

        a {
            padding: 0 16px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &.open {
        #{$this} {
            &__title {
                color: $m-01;
                border: 1px solid transparent;
                box-shadow: 0px 4px 12px 0px rgba(black, 0.1);
                transition: border 0.2s ease;

                &:before {
                    transform: rotate(-180deg);
                }
            }

            &__content {
                @include transition();
                opacity: 1;
                visibility: visible;
                border: 1px solid var(--dropBorder);
            }

            &__item {
                transition: background 0.3s ease, color 0.2s ease, height 0.4s ease, opacity 0.2s ease, ;
                height: 40px;
                opacity: 1;
            }
        }
    }

    &:hover {
        #{$this} {
            &__title {
                color: $m-01;
            }
        }
    }
}

.faveBtn {
    display: block;
    width: 40px;
    height: 40px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.5;
    margin-left: 24px;
    position: relative;
    transition: all 0.2s ease;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconHeart);
    }

    @include sm {
        margin-left: 8px;
    }

    &.selected {
        opacity: 1;

        &:before {
            background-image: url("../assets/heartFill-c.svg");
        }
    }

}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 48px 0;

    @include sm {
        margin: 40px 0;
    }

}

.search {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 24px;
            left: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: var(--iconSearch);
            z-index: 1;
            opacity: 0.5;

            @include sm {
                left: 8px;
            }
        }
    }

    &__input {
        padding: 8px 16px 8px 40px;
    }

    &__clean {
        @include transition();
        border-radius: 100%;
        right: 16px;
        position: absolute;
        transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
        display: none;
        width: 28px;
        height: 28px;
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--iconClean);
        position: absolute;
        cursor: pointer;
        opacity: 0.3;

        &:hover {
            opacity: 0.8;
            transform: scale(1.2);
        }
    }


}

.message {
    color: var(--text);
    font-size: 24px;
    opacity: 0.5;
    letter-spacing: 0.5px;
    align-self: center;
    position: absolute;
    transform: translateY(200px);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    @include sm {
        font-size: 18px;
        transform: translateY(100px);
    }

    &__noResults,
    &__noFaves {

        display: none;
        animation: fadein 0.4s ease;
        margin: 8px 0;

        @keyframes fadein {
            0% {
                transform: translateY(50px);
            }
        }
    }

}

.projects {
    @include transition();
    $this: &;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    grid-gap: 40px;
    justify-items: center;
    padding-bottom: 80px;

    @include sm {
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    &__item {
        @include transition();
        width: 100%;
        max-width: 600px;
        min-height: 320px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: -24px -24px 50px -24px rgba(black, 0.3);
        cursor: pointer;
        animation: item 0.4s 0.2s $cubic backwards;

        @keyframes item {
            0% {
                opacity: 0;
                transform: translateY(40px);
            }
        }

        &:hover {
            transition: all 0.3s ease;
            box-shadow: -10px -10px 30px -20px rgba(black, 0.3);
            transform: translateY(-6px);

            @include sm {
                transform: none;
                box-shadow: -24px -24px 50px -24px rgba(black, 0.3);
            }

            #{$this} {
                &__thumb {
                    opacity: 1;

                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }

        @include sm {
            min-height: 260px;
            max-width: 500px;
        }

    }

    &__fave {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 32px;
        top: 26px;
        z-index: 3;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s $cubic;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: var(--iconHeart);
        }

        @include sm {
            right: 16px;
            top: 16px;
        }

        &:hover {
            transform: scale(1.5);

            @include sm {
                transform: none;
            }
        }
    }

    &__thumb {
        @include transition();
        width: calc(100% - 48px);
        height: calc(100% - 92px);
        position: absolute;
        bottom: 0px;
        left: 24px;
        border-radius: 16px;
        overflow: hidden;
        z-index: 1;
        opacity: 0.5;

        @include sm {
            height: calc(100% - 72px);
        }

        img {
            @include transition();
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            filter: grayscale(100%);
            border-radius: inherit;
        }

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            opacity: 1;
            z-index: 2;
            opacity: 0.05;
        }
    }

    &__title {
        padding: 32px 88px 32px 32px;
        z-index: 1;
        display: flex;
        color: var(--text);
        font-size: 26px;
        font-weight: 200;
        z-index: 2;

        @include sm {
            font-size: 20px;
            padding: 24px 88px 24px 24px;
        }
    }

    &__color {
        @include transition();
        position: absolute;
        display: flex;
        z-index: 1;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

    &__details {
        z-index: 2;
        opacity: 0;

        @include transition();
        transform: translateY(100%);
    }

    &__detailsContent {
        margin: 0 32px;
        padding: 58px 0;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include sm {
            margin: 0 24px;
            padding: 42px 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0.25;
        }

        input {
            opacity: 0;
            position: absolute;
            cursor: none;
            user-select: none;
            z-index: -1;
        }
    }

    &__copyClipboard {
        position: absolute;
        right: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        user-select: none;
        visibility: hidden;
        transform: translateY(8px);
        border-radius: 4px;
        transition: all 0.3s $cubic;
        letter-spacing: 0.5px;
        font-size: 14px;
        font-weight: 400;

        @include sm {
            right: 56px;
        }

        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
        }
    }

    &__info {
        @include transition();

    }

    &__detail {
        position: relative;
        padding: 0 4px;
        cursor: pointer;
        margin-left: 32px;
        margin-bottom: 16px;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 400;
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 2px;

        &:last-child {
            margin-bottom: 0px;
        }


        &:before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: -32px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
        }

        &.user {
            &:before {
                background-image: url("/assets/user.svg");
            }
        }

        &.pass {
            &:before {
                background-image: url("/assets/key.svg");
            }
        }

        &:hover,
        &.selected {
            background-color: white;
            color: #2e2e2e;

        }
    }

    &__stageLink {
        transition: all 0.3s ease;
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        display: block;
        overflow: hidden;

        @include sm {
            width: 40%;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            transition: all 0.3s $cubic;
            z-index: 2;
            width: 100%;
            height: 100%;
            right: 8px;
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center right;
            background-image: url("/assets/arrowRight.svg");

        }

        &:after {
            opacity: 0;
            transform: translateX(-32px);
        }

        &:hover {
            &:before {
                opacity: 0;
                transform: translateX(32px);
            }

            &:after {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    &__tools {
        color: var(--text);
        opacity: 1;
        flex-direction: column;
        background-color: var(--toolsBg);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }

    &__toolLink {
        font-size: 14px;
        letter-spacing: 0.2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 56px;
        transition: transform 0.3s ease, background 0.4s ease;

        @include sm {
            font-size: 12px;
            height: 48px;
        }


        &:hover {
            background-color: var(--toolsHover);

            #{$this} {
                &__toolTitle {
                    transform: translateY(-60px);
                }

                &__toolName {
                    transform: translateY(0%);
                }
            }

        }
    }

    &__toolTitle {
        transition: transform 0.3s ease;
        transform: translateY(0%);
        font-weight: 400;
        opacity: 0.5;

        text-transform: uppercase;
    }

    &__toolName {
        @include transition();
        position: absolute;
        user-select: none;
        transform: translateY(60px);
        text-transform: capitalize;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include sm {
            margin-left: 24px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: -32px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include sm {
                width: 16px;
                height: 16px;
                left: -24px;
            }
        }

        &.AdobeXD {
            &:before {
                background-image: url("/assets/adobexd.svg");
            }
        }

        &.axure,
        &.Axure {
            &:before {
                background-image: url("/assets/axure.svg");
            }
        }

        &.figma,
        &.Figma {
            &:before {
                background-image: url("/assets/figma.svg");
            }
        }

        &.invision,
        &.Invision {
            &:before {
                background-image: url("/assets/invision.svg");
            }
        }

        &.zeplin,
        &.Zeplin {
            &:before {
                background-image: url("/assets/zeplin.svg");
            }
        }
    }

    .active {
        cursor: default;
        box-shadow: 0px 0px 50px -16px rgba(black, 0.3);

        &:hover {
            transform: translateY(0px);
        }

        #{$this} {
            &__color {
                opacity: 1;
            }

            &__fave {
                &:before {
                    background-image: url("/assets/heart-w.svg");
                }
            }

            &__title {
                color: white;
            }


            &__thumb {
                width: 100%;
                height: 100%;
                bottom: 0px;
                left: 0px;
                opacity: 1;

                img {
                    filter: grayscale(0%);
                }

                &:before {
                    opacity: 0.5;
                }
            }

            &__details {
                opacity: 1;
                transform: translateY(0);
            }

        }

        &.faved {
            #{$this} {
                &__fave {
                    &:before {
                        background-image: url("/assets/heartFill-w.svg");
                    }
                }
            }
        }
    }

    .faved {
        #{$this} {
            &__fave {
                opacity: 0.6;

                &:before {
                    background-image: var(--iconHeartFill);
                }
            }
        }
    }


}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    background-color: var(--headerBg);
    height: 114px;

    @include sm {
        height: 80px;
    }

    &__text {
        color: var(--text);
        text-align: center;
        opacity: 0.4;
        font-size: 14px;
        letter-spacing: 0.2px;
        cursor: default;
        padding: 16px;

    }
}